/* || BASE STYLES */
:root {
  --accent-color: #00ff8c;
  --border-radius: 3px;
  --border-size: 3px;
  --main-bg-color: white;
  --main-text-color: black;
}

body {
  background-color: var(--main-bg-color);
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 0 1em;
}

button {
  border-radius: 0;
  border: none;
  background-color: var(--main-bg-color);
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a:link,
a:visited,
a:active {
  color: var(--main-text-color);
  text-decoration: none;
}

input {
  padding: 0px;
  font: inherit;
  height: inherit;
}

/* || UTILITIES */
.border {
  border: var(--border-size) solid var(--main-text-color);
  border-radius: var(--border-radius);
}

.flex-column-gap {
  display: flex;
  flex-direction: column;
  gap: .3em;
}

.clickable {
  align-self: center;
  font-size: large;
  font-weight: bold;
  transition-property: font-size;
  transition-duration: .2s
}

.clickable:hover {
  font-size: larger;
}

.center-horizontal {
  margin-left: 50%;
  translate: -50%;
}

.icon-small {
  height: 1.2rem;
  width: 1.2rem;
}

.inline {
  display: inline;
}

.no-margin {
  margin: none;
}

.visually-hidden {
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.display-none {
  display: none !important;
}

