expandable-list  {
    display: inline-block;
    margin: .5em;
}

.week-display {
    border: var(--border-size) solid var(--main-text-color);
    border-radius: var(--border-radius);
    padding: 1em;
}

.week-display > div > expandable-list {
    border: var(--border-size) solid var(--main-text-color);
    border-radius: var(--border-radius);
}

.icon-small {
    margin-right: .5ch;
}