/* || MOBILE LAYOUT */
body {
    display: grid;
    grid-template-rows: max-content auto max-content;
    grid-template-areas:
      "header"
      "input"
      "footer";
    gap: 1em;
  }
  
  /* || HEADER */
  custom-header {
    grid-area: header;
  }
  
  /* || INPUT */
  main {
    grid-area: input;
  }
  
  h2 {
    margin: 8px 0px;
  }
  
  /* || FOOTER */
  footer {
    grid-area: footer;
    text-align: center;
  }