/* || MOBILE LAYOUT */
body {
    display: grid;
    grid-template-rows: max-content auto max-content;
    grid-template-areas:
      "header"
      "input"
      "footer";
    gap: 1em;
  }
  
  custom-header {
    grid-area: header;
  }
  
  main {
    grid-area: input;
    justify-self: center;
  }
  
  h2 {
    margin: 8px 0px;
  }
  
  footer {
    grid-area: footer;
    text-align: center;
  }

/* || TABLET */
@media screen and (min-width: 768px) {

}

/* || DESKTOP */
@media screen and (min-width: 1200px) {
  
}